.cardapio {

    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.cardapio .botaoAdicionar{
    width: 80%;
    border-radius: 10px;
    height: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    text-transform: uppercase;
}


.cardapio .botaoAdicionar:hover{
    background-color: orangered;
    font-weight: bold;
}

.cardapio .botaoAdicionar:active{
    color: lime;
}