.entrega {
    background-color: var(--cor-form-entrega);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 1rem;
    border-radius: 50px;
    margin: 0rem auto 0rem auto;
    width: 95%;



}

.entrega h2 {
    font-size: 70px;
    margin-top: 160px;

}


.entrega #pagamento, #retirar {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border: solid 1px;
    border-radius: 20px;
    height: 100px;
    width: 40%;
    outline: none;
    font-size: 60px;
    margin-top: 10px;

}

.entrega input {
 width: 50%;
 height: 120px;
 font-size: 60px;
 border-radius: 20px;
 text-align: center;
 margin: 20px;
    
    
}

.entrega #pagamento, #retirar,
input:hover {
    background-color: white;
    color: black;
}



.entrega input::placeholder {
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.entrega label {
    font-size: 60px;
    margin: 10px;
}

.entrega .enviar {
    width: 70%;
    height: 100px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
}