footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--cor-header-e-footer);
    box-shadow: 0px -20px 100px rgb(0, 0, 0);
    left: 0;
    padding-top: 10px;
    padding-bottom: 25px;
}



footer p {
    font-size: 20px;
    letter-spacing: 3px;
}

footer a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

footer i {
    font-size: 130px;
    color: var(--cor-carrinho);
    margin-bottom: 30px;
    margin-top: 30px;
}

footer .displayCarrinho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
