header {
    text-align: center;
    background-color: var(--cor-header-e-footer);
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 20px 100px rgb(0, 0, 0);
    padding: auto;
    font-size: 50px;
}

header p{
    margin-bottom: 10px;
    font-size: 75px;
}

header img {
    width: 60px;
    margin-top: 1rem;
    border: solid yellow 2px;
    border-radius: 44px;

}

header ul {
    background-color: var(--cor-lista-superior);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0px 0px 0px;
    padding: 40px;
    align-items: center;
   



}

header li {
    list-style: none;


}

header a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px;
    font-size: 80px;
    color: white;


}

header a:hover {
    background-color: rgb(246, 255, 0);
    color: orangered;
    border-radius: 150px;

}