.item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.item mark{
    border-radius: 10px;
    line-height: 30px;
    padding: 5px;
    background-color: m;
}
