:root {
    --cor-fundo-backround:#000000;
    --cor-header-e-footer:#1b0a10;
    --cor-carrinho:#35141f;
    --cor-form-entrega:#501e2f;
    --cor-carrinho:yellow;
    --cor-display-info-carrinho-footer:red;
}